<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Portal</title>
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="/CSS/AdminPortal.css">
</head>

<body>
    <div class="main_container">
        <aside>
            <div class="logo-details">
                <img src="Images/logo1.jpg">
                <span class="logo_name"><a href="/">Farmers Web Portal</a></span>
            </div>

            <ul class="nav-links">

                <li><a href="#dashboard_section" class="active">
                        <i class='bx bx-grid-alt'></i>
                        <span class="links_name">Dashboard</span>
                    </a></li>

                <li><a href="#products_section">
                        <!-- <button onclick="showProducts()"> -->
                        <i class='bx bx-box'></i>
                        <span class="links_name">Products</span>
                        <!-- </button> -->
                    </a></li>

                <li><a href="#account_section">
                        <i class='bx bx-cog'></i>
                        <span class="links_name">Account</span>
                    </a></li>

                <li class="log_out"><a href="/logout">
                        <i class='bx bx-log-out'></i>
                        <span class="links_name">Log out</span>
                    </a></li>

            </ul>
        </aside>

        <nav>
            <h1 class="nav_title">Admin Portal</h1>
            <h1 class="nav_name">Seller Name : <%= seller.username %>
            </h1>
        </nav>

        <div class="main_details_container">

            <!------------------------- Dashboard Section Starts here  ------------------------------>

            <section id="dashboard_section">
                <h1 class="dashboard_main_heading">Product Statistics</h1>
                <div class="graph">

                    <div class="circular_graph">
                        <div class="circular-progress circular-progress_0">
                            <div class="value-container value-container_0">
                                <input type="number" value=<%=data.seeds %> class="input_0" hidden>
                            </div>
                        </div>
                        <h1>Seeds</h1>
                    </div>


                    <div class="circular_graph">
                        <div class="circular-progress circular-progress_1">
                            <div class=" value-container value-container_1">
                                <input type="number" class="input_1" value=<%=data.fertilizers %> hidden>
                            </div>
                        </div>
                        <h1>Fertilisers</h1>
                    </div>


                    <div class="circular_graph">
                        <div class="circular-progress circular-progress_2">
                            <div class="value-container value-container_2">
                                <input type="number" class="input_2" value=<%=data.pesticides %> hidden>
                            </div>
                        </div>
                        <h1>Pesticides</h1>
                    </div>


                    <div class="circular_graph">
                        <div class="circular-progress circular-progress_3">
                            <div class="value-container value-container_3">
                                <input type="number" class="input_3" value=<%=data.total %> hidden>
                            </div>
                        </div>
                        <h1>Total Products</h1>
                    </div>

                </div>
            </section>


            <!------------------------- Products Section Starts here  ------------------------------>

            <section id="products_section">
                <h1 class="prod_section_main_heading">My Products</h1>

                <div class="box-container">
                    <% if(products.length>0) { %>
                        <% products.forEach(prod=> { %>
                            <div class="box">

                                <span class="discount">
                                    <%= (((prod.mrp-prod.price)/prod.mrp)*100).toFixed(1) %>%<br>
                                </span>

                                <a href="/productpage/<%= prod._id %>" target="_blank">

                                    <img src="<%= prod.img1 %>" alt="">

                                    <h3>
                                        <%= prod.name %>
                                    </h3>
                                </a>

                                <div class="price"> Rs <%= prod.price %>/- <span> Rs <%= prod.mrp %>/- </span> </div>

                            </div>
                            <% }) %>
                                <% } %>

                </div>

            </section>


            <!------------------------- Account Section Starts here  ------------------------------>

            <section id="account_section">
                <div class="account_edit_div">
                    <a href="">
                        <h3>Update Credentials</h3>
                    </a>
                    <a href="">
                        <h3>Delete Account</h3>
                    </a>
                    <a href="">
                        <h3>Change a Product</h3>
                    </a>
                </div>

                
            </section>

            <button class="goTop_btn"><a href="#dashboard_section">Back to Top</a></button>

        </div>

    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <script>
        const colors1 = ['orangered', 'rgb(119, 53, 225)', 'rgb(255, 3, 255)', 'royalblue']
        const colors2 = ['rgb(253, 200, 181)', 'rgb(207, 177, 255)', 'rgb(255, 192, 250)', 'rgb(173, 173, 255)']
        for (let i = 0; i < 4; i++) {
            const dataBar = document.querySelector(`.circular-progress_${i}`)
            const valContainer = document.querySelector(`.value-container_${i}`)

            let initialData = 0;
            const finalData = +document.querySelector(`.input_${i}`).value;
            // const finalData = 57
            const speed = 80;
            const maxData = document.querySelector('.input_3').value
            const totalDeg = (360 / maxData)

            let progress = setInterval(() => {
                initialData++;
                valContainer.textContent = `${initialData}`;
                dataBar.style.background = `conic-gradient(${colors1[i]} ${initialData * totalDeg}deg,${colors2[i]} ${initialData * totalDeg}deg)`;
                if (initialData === finalData) {
                    clearInterval(progress)
                }
            }, speed)

        }

        var $sections = $('section');
        $(window).scroll(function () {
            var currentScroll = $(this).scrollTop();
            var $currentSection
            $sections.each(function () {
                var divPosition = $(this).offset().top;
                if (divPosition - 100 < currentScroll) {
                    $currentSection = $(this);
                }
                if ($currentSection) {
                    var id = $currentSection.attr('id');
                    $('a').removeClass('active');
                    $("[href='#" + id + "']").addClass('active');
                }
            })

        });

    </script>

</body>

</html>