<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Results</title>
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Sofia&effect=neon|fire|outline|emboss|shadow-multiple|fire-animation">
    <link href='https://fonts.googleapis.com/css?family=Cinzel' rel='stylesheet'>
    <script src="https://kit.fontawesome.com/a4b935b8e6.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/CSS/cropResults.css">
</head>

<body>

    <%- include('./partials/navbar.ejs') %>

        <!-------------------------- result back ---------------------------->

        <div class="output toggle-result">
            <!--After the user clicks the submit button the list of crops will be displayed here using /JS-->
            <h1 class="result-h1">List of crops: </h1>
            <div class="row">

                <% if(data.length>0 ){ %>
                    <% data.forEach(crop=> {%>
                        <div class="card"><a href="/croppage/<%= crop._id %>" target="_blank">

                                <div class="col">

                                    <div class="front">
                                        <!-- <img src="Images/Rice-plant.jpg" alt=""> -->
                                        <img src="<%= crop.img %>" alt="">
                                        <h1>
                                            <%= crop.name %>
                                        </h1>
                                    </div>

                                    <div class="back">
                                        <!-- <h1>Paddy</h1> -->
                                        <!-- <h1><%= crop.cropName %></h1> -->
                                        <h1>
                                            <%= crop.name %>
                                        </h1>
                                        <!-- <p id="paddy"><%= crop.brief %></p> -->
                                        <p>
                                            <%= crop.brief %>
                                        </p>
                                        <!-- <p id="paddy">Paddy is a very highly cultivated crop in india</p> -->
                                    </div>
                                </div>
                            </a>
                        </div>
                        <% }) %>
                            <% }else{ %>
                                <h1 style="font-size: 30px; color: #ffff; width: max-content;">No crops Found for the
                                    given input :(</h1>
                                <% } %>



            </div>

        </div>

        <script src="./JS/CropSuggestion.js"></script>


</body>

</html>